html {
	font-size: 16px;
}

body {
	background-color: #1D2138;
	margin-top: 3rem;
}

nav {
	background-color: #171924;
	padding: 0 1rem 0 1rem;
}

nav li:hover a {
	color: white;
}

.container {
	width: 90%
}


/* Navbar Styles */


.navbar-buttons-div {
	margin-left: 2rem;
}



/* Main Styles */

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	border: .3px solid #171924;
  	background-color: #1B1E2D;
}

::-webkit-scrollbar-thumb {
	background-color: #101427;
  	border-radius: 10px;
}

/* Side bar */
#sidenav-menu {
	background-color: #171924;
}

#sidenav-menu li a, #sidenav-menu li i {
	color: white;
}

#side-menu {
	background-color: #171924;
	height: 100% !important;
}

#side-menu li {
	padding: 0 .7rem .5rem .7rem;
	width: 100%;
	opacity: .8;
	transition: all .4s;
}

#side-menu li:hover {
	opacity: 1;
	background-color: #1B1E2D;
	transform: scale(1.2, 1.1);
}

#side-menu li a {
	color: #e2e2e2;
	font-size: .8rem;
	padding: .5rem .7rem .5rem .7rem;
}

#side-menu li i {
	transform: translate(-15%, 25%);
}

#trends li {
	all: unset;
	color: #f3f3f37c;
	cursor: pointer;
	display: block;
	font-size: .9rem;
	margin-left: .9rem;
	margin-bottom: .5rem;
}

#trends li:hover {
	color: #f3f3f3d8;
	background-color: transparent;
	transform: none;
}

/* Content */
#content {
	margin: 0;
	padding: 0;
	background-color: #1B1E2D;
}

#header {
	padding: 0;
	margin: 0;
	opacity: .7;
	background: #1B1E2D;
	position: relative;
	font-weight: bold;
}

#header .card-content {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 40%;
	height: auto;
}

.play-button {
	color: white;
	font-size: 1.1rem;
	font-weight: 600;
	margin-top: 1rem;
	transition: all .4s;
}

.play-button:hover {
	color: #171924;
	background-color: #ffffff;
}

.section {
	padding: 1.5rem;
	color: #e2e2e2;
	position: relative;
	overflow: hidden;
}

.latest-slider {
	width: 100%;
	height: auto;
}

.slider-item {
	position: relative;
	width: 12rem !important;
	height: 20rem !important;
	border-radius: 1rem;
	border: 1px solid #1B1E2D;
	opacity: .8;
}

.slider-item:hover {
	opacity: 1;
	cursor: default;
}

.slider-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-position: center;
	border-radius: 1rem;
}

.slider-content {
	position: absolute;
	bottom: 10%;
}

.background-img {
	left: -10%;
	position: absolute;
	opacity: .5;
	z-index: auto;
}

.z-index-1000 {
	position: relative;
	z-index: 1000 !important;
}

.latest-episode-card-img {
	width: 100%;
	height: 9rem;
	object-fit: cover;
	background-size: center;
	border-radius: 1rem !important;
	opacity: .9;
	background-color: #000000;
}

.latest-episode-content {
	color: white !important;
	position: absolute;
	left: 0;
	bottom: 0;
}

.upload-date {
	position: absolute;
	right: 0;
	padding: .3rem;
	border-radius: .3rem;
}

#last-episodes a:hover .card {
	opacity: .6;
	transition: opacity .4s;
}

.site-footer {
	width: 100%;
	padding: 2rem;
	margin: 1rem;
	background: #171924;
	color: white;
}

/* Detail Ayarları */

.detail-img {
	width: 225px;
	height: 375px;
	object-fit: cover;
	object-position: center;
}

.cast {display: inline-block; margin-left: .8rem;}

.cast img {
	width: 100px !important;
	height: 150px !important;
}

.film-informations {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.film-informations li {
	padding-left: 3rem;
	padding-right: 3rem;
}

.film-informations li p {
	margin: 0;
}

#film-info {
	padding: .3rem 0 .3rem 0;
}

.season-button {
	background-color: transparent; 
	border: 2px solid #f3f3f3d8;
	border-radius: 7px;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
	font-weight: 500;

	margin-right: .8rem;

	color: #f3f3f3;
	cursor: pointer;

	transition: all .6s;
}

.season-button:hover {
	background-color: #f3f3f3d8;
	color: #101427;
}

.active-season-button {
	background-color: #f3f3f3d8;
	color: #101427 !important;
}

.button-group {
	margin-top: 1.5rem;
}

.mobile-season-list li {
	padding: 5px 0 5px 0;
	width: 100%;
	border: 1px solid #f3f3f3d8;
}

.mobile-season-list li:hover {
	background-color: #f3f3f3d8;
}
.mobile-season-list li:hover a {
	color: #101427;
}

.mobile-season-ul li:nth-child(1) {
	background-color: #f3f3f3d8;
}

.mobile-season-ul li:nth-child(1) a {
	color: #101427;
}

.mobile-season-list li a {
	color: #f3f3f3d8;
	padding-left: 15px;
}

.episodes {
	margin-top: 4rem;
	background-color: #171924;

	border-radius: 10px;
}

.episodes td {
	padding: 4px 0 4px 0;
	cursor: pointer;
	opacity: .8;

	transition: color .4s;
}

.episodes td:hover {
	color: rgb(212, 149, 66);
}

textarea {
	all: unset;
	border: .1px solid #f3f3f37c;
	border-radius: 7px;
	padding: .2rem 1rem .2rem 1rem;
	width: 85%;
}

textarea:focus {
	background-color: #1D2138;
}

.comment-input {
	border: .1px solid #f3f3f37c !important;
	border-radius: 7px !important;
	height: 2rem !important;
	color: #f3f3f3d8;
	margin: 0 .7rem 0 0 !important;
	padding: .2rem 1rem .2rem 1rem !important;
}

.comment-input:focus {
	background-color: #1D2138 !important;
}


/* watch.html */
.video-container {
	margin: 1rem .3rem .3rem .3rem;
	height: 52rem;
}
#player-section {
	margin-bottom: .4rem;
}
#player-section i {
	transform: translateY(5px);
	font-size: 150%;
}

.player-button {
	color: #f3f3f3d8;
	font-weight: 600;
	font-size: .7rem;
	transition: color .4s;
}

.player-button:hover {
	color: rgb(212, 149, 66);
	background-color: transparent;
}

.player-down-button {
	color: #f3f3f3d8;
	font-weight: 500;
	font-size: .7rem;
	background-color: #171924;

	transition: color .4s;
}

.player-down-button:hover {
	color: rgb(212, 149, 66);
	background-color: #171924;
}

.like-unlike a:nth-child(1):hover {
	color: rgb(20, 173, 20);
}
.like-unlike a:nth-child(2):hover {
	color: rgb(187, 19, 19);
}

.giris-yorum {
	background-color: rgb(175, 32, 22);
	padding: .8rem 2rem .8rem 2rem;
}


@media screen and (max-width: 800px) {

	#header .card-content {
		position: relative;
		height: auto;
		color: white;
		background: transparent;
		width: 100%;
	}

	.detail-img {
		width: 100%;
		height: auto;
		object-fit: cover;
		object-position: center;
	}

	.film-informations {
		display: block !important;
	}

	.film-informations li {
		border-bottom: 1px solid #f3f3f3d8;
		margin: 0 20px 10px 20px;
		padding-bottom: 10px;
	}
	
	.episodes td:nth-child(1) {
		display: none;
	}

	
	.episodes th:nth-child(1) {
		display: none;
	}

	.episodes td:nth-child(5) {
		display: none;
	}

	
	.episodes th:nth-child(5) {
		display: none;
	}

	textarea {
		width: 100%;
	}

}